
* {
    font-family: 'Baloo', cursive;
  }
  
  body {
    background: #ccc;
  }
  
  table {
    border: 10px solid black;
  }
  
  td {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
    background: white;
  }
  
  th {
    background-color: navy;
    color: white;
  }
  table{
      color:blue;
      background:red;
      margin: auto;
  }

h1{
    background: black;
    display: auto;
    font-size: 45px;
    color: white;
} 
ol{
    font-size: 40px;
    text-align: center;
    list-style: decimal;
    
}
#salmon{
    margin: 0px 0px 0px 250px;
}
